

body {
  padding: 50px;
  font-family: sans-serif;
}
#container {
  padding: 50px;
  display: flex;
  justify-content: center;
}

#greeting {
  font-size: 32pt;
  justify-content: center;
}

#buttonsign {

  padding: 30px;
  font-size: 32pt;
}

#homesignin {
  padding: 200px;
}

#counter {
  font-size: 32pt;
  color: orange;
}
